body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.food-item {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #080202;
    margin-bottom: 10px;
}

.food-item p {
    margin: 10px 0;
    color: #131111;
}

a {
    text-decoration: none;
    color: #070ac0;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    color: #ca1f08;
}
